# Kern
streamlit==1.33.0
streamlit-drawable-canvas==0.9.3

# Mathe & Plot (kompatibel zu Py 3.11 und obigen)
numpy==1.26.4
matplotlib==3.8.4
Pillow>=9.5.0,<11

# Optional stabilisierer (werden von Streamlit meist eh gezogen)
protobuf<5
typing_extensions>=4.9.0
